 <!-- 
<div style="text-align: center">
    <embed src="./assets/hjemmeside-front.pdf" width="100%" height="1440" 
 type="application/pdf">
</div>

sidst opdateret 26-09-2024
   -->
   <div style="text-align: center">
    <p><b>{{ titel }}</b></p>
    <p>Broholms Alle 15, 1<br>2920 Charlottenlund</p>
    <p>Telefon: 4011 9330</p>
    <p>E-mail: info&#64;krebs.dk</p>
    <p>-</p>
  
    <a href="https://www.facebook.com/ArkitektfirmaetPovlKrebs/?ref=bookmarks">Besøg os på Facebook</a><br />
  
    <p style="font-size: 125%"><a href="https://www.facebook.com/ArkitektfirmaetPovlKrebs/?ref=bookmarks"><img
          src="../assets/facebook.jpg" height="96" width="96"></a></p>
  
  </div>
